.fixed-logo {
    position: fixed;
    bottom: 20px; /* Distância do canto inferior */
    right: 20px; /* Distância do canto direito */
    z-index: 1000; /* Garante que fique acima de outros elementos */
  }
  
  .fixed-logo img {
    width: 220px; /* Tamanho do logo */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Efeito ao passar o mouse */
  }
  
  .fixed-logo img:hover {
    transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
  }
  